## **DATA ANALYSIS PYTHON PROJECT - SESONAL TRENDS AND POPULARITY ANALYSIS OF PTODUCTS (D-MART SALE DATA)**

#### **IMPORT LIBRARIES**

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### **IMPORT RAW DATA**

In [6]:
df = pd.read_csv("C:/Users/vibhuti/Dmart Analysis/Dmart_data.csv")

#### **SAMPLE DATA**

In [7]:
df.head(10)

,Date,Time,CustomerType,ProductCategory,UnitPrice,Quantity,Total,FullName
0,31-12-2023 15:41,6:04:28,Member,Grocery,10.69,4,42.76,Jai Bhatia
1,7/1/2024 22:19,1:05:18,Premium,Home & Kitchen,381.03,3,1143.09,Ishaan Patel
2,10/1/2024 2:09,17:31:43,Regular,Grocery,153.84,5,769.20,Tanvi Iyer
3,1/6/2023 10:46,1:50:16,Regular,Electronics,341.41,4,1365.64,Zara Xavier
4,23-05-2024 22:07,10:37:06,Regular,Home & Kitchen,390.16,5,1950.80,Krishna Zutshi
5,16-02-2024 19:41,22:41:47,Member,Grocery,170.21,4,680.84,Zara Singh
6,30-11-2023 03:36,9:36:45,Member,Clothing,81.74,2,163.48,Eeshaan Xavier
7,5/6/2024 5:21,20:02:39,Premium,Clothing,181.26,3,543.78,Eeshaan Kumar
8,7/6/2024 21:40,21:07:44,Premium,Electronics,471.89,2,943.78,Mahesh Mehta
9,29-12-2023 04:35,17:53:54,Member,Grocery,59.70,2,119.40,Ishaan Verma

In [8]:
df.tail(10)

,Date,Time,CustomerType,ProductCategory,UnitPrice,Quantity,Total,FullName
999990,21-12-2023 02:53,19:54:40,Premium,Grocery,125.88,1,125.88,Priya Gupta
999991,9/7/2023 22:54,0:31:20,Premium,Electronics,362.29,5,1811.45,Uday Chauhan
999992,27-01-2024 08:22,21:15:07,Regular,Home & Kitchen,283.34,3,850.02,Vaibhav Yadav
999993,18-09-2023 16:06,0:00:41,Regular,Electronics,180.66,3,541.98,Uday Wadhwa
999994,28-03-2023 20:18,11:39:45,Premium,Grocery,343.25,2,686.50,Zara Chauhan
999995,16-08-2023 21:13,15:37:01,Premium,Electronics,256.80,1,256.80,Priya Wadhwa
999996,18-01-2024 13:01,15:05:47,Regular,Electronics,191.20,3,573.60,Nandini Iyer
999997,5/10/2023 19:16,5:38:49,Premium,Home & Kitchen,324.33,5,1621.65,Zara Jain
999998,3/4/2024 14:55,10:14:32,Regular,Home & Kitchen,39.27,3,117.81,Nandini Wadhwa
999999,22-01-2024 22:44,3:58:37,Member,Home & Kitchen,347.68,4,1390.72,Priya Gupta

#### **SIZE OF DATA**

In [10]:
print("size of DATA :",df.shape)

size of DATA : (1000000, 8)

#### **DATA TYPE**

In [12]:
df.dtypes

Date                object
Time                object
CustomerType        object
ProductCategory     object
UnitPrice          float64
Quantity             int64
Total              float64
FullName            object
dtype: object

In [11]:
df.columns

Index(['Date', 'Time', 'CustomerType', 'ProductCategory', 'UnitPrice',
       'Quantity', 'Total', 'FullName'],
      dtype='object')

#### **DATA CLEANING**

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Date             1000000 non-null  object
 1   Time             1000000 non-null  object
 2   CustomerType     1000000 non-null  object
 3   ProductCategory  1000000 non-null  object
 4   UnitPrice        1000000 non-null  float64
 5   Quantity         1000000 non-null  int64
 6   Total            1000000 non-null  float64
 7   FullName         1000000 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 61.0+ MB

In [14]:
print(df['CustomerType'].unique())

['Member' 'Premium' 'Regular']

In [15]:
print(df['ProductCategory'].unique())

['Grocery' 'Home & Kitchen' 'Electronics' 'Clothing'
 'Beauty & Personal Care']

In [17]:
#drop null values 
df.dropna(inplace=True)

In [23]:
#change datatype
df['Date'] = df['Date'].str.replace('-', '/', regex=False)

In [25]:
print(df.Date)

0         31/12/2023 15:41
1           7/1/2024 22:19
2           10/1/2024 2:09
3           1/6/2023 10:46
4         23/05/2024 22:07
                ...
999995    16/08/2023 21:13
999996    18/01/2024 13:01
999997     5/10/2023 19:16
999998      3/4/2024 14:55
999999    22/01/2024 22:44
Name: Date, Length: 1000000, dtype: object

In [26]:
df['Date'] = df['Date'].str.split(' ').str[0]

In [27]:
print(df.Date)

0         31/12/2023
1           7/1/2024
2          10/1/2024
3           1/6/2023
4         23/05/2024
             ...
999995    16/08/2023
999996    18/01/2024
999997     5/10/2023
999998      3/4/2024
999999    22/01/2024
Name: Date, Length: 1000000, dtype: object

In [29]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True).dt.strftime('%#d/%#m/%Y')

In [31]:
print()

0         31/12/2023
1           7/1/2024
2          10/1/2024
3           1/6/2023
4          23/5/2024
             ...
999995     16/8/2023
999996     18/1/2024
999997     5/10/2023
999998      3/4/2024
999999     22/1/2024
Name: Date, Length: 1000000, dtype: object

In [32]:
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\vibhuti\AppData\Local\Temp\ipykernel_32012\3386729631.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date'] = pd.to_datetime(df['Date'])

In [33]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

In [34]:
print(df.Date)

0        2023-12-31
1        2024-01-07
2        2024-01-10
3        2023-06-01
4        2024-05-23
            ...
999995   2023-08-16
999996   2024-01-18
999997   2023-10-05
999998   2024-04-03
999999   2024-01-22
Name: Date, Length: 1000000, dtype: datetime64[ns]